:root {
  --border-radius: 0.444rem;
  --border-radius-btn: 0.278rem;

  --white100: #ffffff;
  --grey90: #FBFBFB;
  --grey80: #e5e5e5;
  --grey20: #4b4b4b;
  --grey10: #0e0e0e;

  --project-bestbuy: #003B64;
  --project-braintest: #552E8F;
  --project-pacfrens: #54058D;
  --project-bigbarnworld: #239456;
  --project-littleinkventure: #012F49;

  --primary100: #ffc800;
  --primary120: #c99e02;

  --box-shadow: 0.222rem 0.222rem 0 #554300;
  --box-shadow-img: 0.444rem 0.444rem 0 #ffc800;

  --hover-trans: 0.4s;
  --hover-trans-none: 0;
  --transition: all 0.4s ease-in-out;

/*********************************************************/

  --span-1: span 1;
  --span-2: span 2;
  --span-3: span 3;
  --span-4: span 4;
  --span-5: span 5;
  --span-6: span 6;
  --span-7: span 7;
  --span-8: span 8;
  --span-9: span 9;
  --span-10: span 10;
  --span-11: span 11;
  --span-12: span 12;

  --start-2-span-1: 2 / 3;
  --start-2-span-2: 2 / 4;
  --start-2-span-3: 2 / 5;
  --start-2-span-4: 2 / 6;
  --start-2-span-5: 2 / 7;
  --start-2-span-6: 2 / 8;
  --start-2-span-7: 2 / 9;
  --start-2-span-8: 2 / 10;
  --start-2-span-9: 2 / 11;
  --start-2-span-10: 2 / 12;

  --start-3-span-1: 3 / 4;
  --start-3-span-2: 3 / 5;
  --start-3-span-3: 3 / 6;
  --start-3-span-4: 3 / 7;
  --start-3-span-5: 3 / 8;
  --start-3-span-6: 3 / 9;
  --start-3-span-7: 3 / 10;
  --start-3-span-8: 3 / 11;
  --start-3-span-9: 3 / 12;

  --start-4-span-1: 4 / 5;
  --start-4-span-2: 4 / 6;
  --start-4-span-3: 4 / 7;
  --start-4-span-4: 4 / 8;
  --start-4-span-5: 4 / 9;
  --start-4-span-6: 4 / 10;
  --start-4-span-7: 4 / 11;
  --start-4-span-8: 4 / 12;

  --start-5-span-1: 5 / 6;
  --start-5-span-2: 5 / 7;
  --start-5-span-3: 5 / 8;
  --start-5-span-4: 5 / 9;
  --start-5-span-5: 5 / 10;
  --start-5-span-6: 5 / 11;
  --start-5-span-7: 5 / 12;

  --start-6-span-1: 6 / 7;
  --start-6-span-2: 6 / 8;
  --start-6-span-3: 6 / 9;
  --start-6-span-4: 6 / 10;
  --start-6-span-5: 6 / 11;
  --start-6-span-6: 6 / 12;

  --start-7-span-1: 7 / 8;
  --start-7-span-2: 7 / 9;
  --start-7-span-3: 7 / 10;
  --start-7-span-4: 7 / 11;
  --start-7-span-5: 7 / 12;

}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: var(--grey90);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* > :last-child {
  margin-bottom: 0;
}

a {
  color: var(--grey20);
  text-decoration: none;
  font-weight: 600;
  transition: var(--transition);

  img {
    margin-bottom:1.25rem;
    transition: var(--transition);
  }
  h2, h3, p {
    padding: 0 2.222rem 0 0.556rem;
  }
  h2, h3 {
    margin-bottom: 0.222rem;
  }
  p {
    margin-bottom: 0;
  }
}

a:hover {
  -o-transition:var(--hover-trans);
  -ms-transition:var(--hover-trans);
  -moz-transition:var(--hover-trans);
  -webkit-transition:var(--hover-trans);
  transition:var(--hover-trans);
  background-color: var(--primary100);
  box-shadow: var(--box-shadow);
  color: var(--grey10);
  border-radius: 2rem;
  padding: 0.222rem 0.778rem;

  img {  
    -o-transition:var(--hover-trans);
    -ms-transition:var(--hover-trans);
    -moz-transition:var(--hover-trans);
    -webkit-transition:var(--hover-trans);
    transition:var(--hover-trans);
    box-shadow: var(--box-shadow-img);
  }

}

a:has(img):hover {
  padding: 0;
}

img {
  border-radius: var(--border-radius);
  margin: 0;
  padding: 0;
  display: block;  
  width: 100%;
  height: auto;
  object-fit: cover;   /* ensures image fills width & height proportionally */
  object-position: center; /* keep image centered */
  background-size: contain;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-optical-sizing: auto;
  font-weight: 600;
  display: block;
  margin-top: 0;
}

h1 {
  text-decoration: underline solid var(--primary100);
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.45rem;
  margin-bottom: 2.44rem;
}

h2, h3 {
  margin-bottom: 1.22rem;
}

p {
  display: block;
  margin: 0 0 1.22rem 0;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 0 1rem 0;
  display: grid;
  gap: 0.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  width: inherit;
  margin: inherit;
}

.div-max-width {
  max-width: 1200px;
  margin: inherit;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 4.888rem 1.778rem;
  padding: 6.888rem 1.667rem;
  margin: 0 auto;

  .grid {
    padding:0;
  }
}

.center {
  text-align: center;
}

.right {
  justify-self: right;
}

.add-margin-bottom {
  margin-bottom:1.22rem;
}

.reduce-image-size {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Define Parent Grid Column */
.span-1  { grid-column: var(--span-1); }
.span-2  { grid-column: var(--span-2); }
.span-3  { grid-column: var(--span-3); }
.span-4  { grid-column: var(--span-4); }
.span-5  { grid-column: var(--span-5); }
.span-6  { grid-column: var(--span-6); }
.span-7  { grid-column: var(--span-7); }
.span-8  { grid-column: var(--span-8); }
.span-9  { grid-column: var(--span-9); }
.span-10 { grid-column: var(--span-10); }
.span-11 { grid-column: var(--span-11); }
.span-12 { grid-column: var(--span-12); }

.start-2-span-1  { grid-column: var(--start-2-span-1); }
.start-2-span-2  { grid-column: var(--start-2-span-2); }
.start-2-span-3  { grid-column: var(--start-2-span-3); }
.start-2-span-4  { grid-column: var(--start-2-span-4); }
.start-2-span-5  { grid-column: var(--start-2-span-5); }
.start-2-span-6  { grid-column: var(--start-2-span-6); }
.start-2-span-7  { grid-column: var(--start-2-span-7); }
.start-2-span-8  { grid-column: var(--start-2-span-8); }
.start-2-span-9  { grid-column: var(--start-2-span-9); }
.start-2-span-10 { grid-column: var(--start-2-span-10); }

.start-3-span-1  { grid-column: var(--start-3-span-1); }
.start-3-span-2  { grid-column: var(--start-3-span-2); }
.start-3-span-3  { grid-column: var(--start-3-span-3); }
.start-3-span-4  { grid-column: var(--start-3-span-4); }
.start-3-span-5  { grid-column: var(--start-3-span-5); }
.start-3-span-6  { grid-column: var(--start-3-span-6); }
.start-3-span-7  { grid-column: var(--start-3-span-7); }
.start-3-span-8  { grid-column: var(--start-3-span-8); }
.start-3-span-9  { grid-column: var(--start-3-span-9); }

.start-4-span-1  { grid-column: var(--start-4-span-1); }
.start-4-span-2  { grid-column: var(--start-4-span-2); }
.start-4-span-3  { grid-column: var(--start-4-span-3); }
.start-4-span-4  { grid-column: var(--start-4-span-4); }
.start-4-span-5  { grid-column: var(--start-4-span-5); }
.start-4-span-6  { grid-column: var(--start-4-span-6); }
.start-4-span-7  { grid-column: var(--start-4-span-7); }
.start-4-span-8  { grid-column: var(--start-4-span-8); }

.start-5-span-1  { grid-column: var(--start-5-span-1); }
.start-5-span-2  { grid-column: var(--start-5-span-2); }
.start-5-span-3  { grid-column: var(--start-5-span-3); }
.start-5-span-4  { grid-column: var(--start-5-span-4); }
.start-5-span-5  { grid-column: var(--start-5-span-5); }
.start-5-span-6  { grid-column: var(--start-5-span-6); }
.start-5-span-7  { grid-column: var(--start-5-span-7); }

.start-6-span-1  { grid-column: var(--start-6-span-1); }
.start-6-span-2  { grid-column: var(--start-6-span-2); }
.start-6-span-3  { grid-column: var(--start-6-span-3); }
.start-6-span-4  { grid-column: var(--start-6-span-4); }
.start-6-span-5  { grid-column: var(--start-6-span-5); }
.start-6-span-6  { grid-column: var(--start-6-span-6); }

.start-7-span-1  { grid-column: var(--start-7-span-1); }
.start-7-span-2  { grid-column: var(--start-7-span-2); }
.start-7-span-3  { grid-column: var(--start-7-span-3); }
.start-7-span-4  { grid-column: var(--start-7-span-4); }
.start-7-span-5  { grid-column: var(--start-7-span-5); }

/* Define Parent Grid Column ----------- END */

@media (max-width: 991px) {
  .l-span-1  { grid-column: var(--span-1); }
  .l-span-2  { grid-column: var(--span-2); }
  .l-span-3  { grid-column: var(--span-3); }
  .l-span-4  { grid-column: var(--span-4); }
  .l-span-5  { grid-column: var(--span-5); }
  .l-span-6  { grid-column: var(--span-6); }
  .l-span-7  { grid-column: var(--span-7); }
  .l-span-8  { grid-column: var(--span-8); }
  .l-span-9  { grid-column: var(--span-9); }
  .l-span-10 { grid-column: var(--span-10); }
  .l-span-11 { grid-column: var(--span-11); }
  .l-span-12 { grid-column: var(--span-12); }

  .l-start-2-span-1  { grid-column: var(--start-2-span-1); }
  .l-start-2-span-2  { grid-column: var(--start-2-span-2); }
  .l-start-2-span-3  { grid-column: var(--start-2-span-3); }
  .l-start-2-span-4  { grid-column: var(--start-2-span-4); }
  .l-start-2-span-5  { grid-column: var(--start-2-span-5); }
  .l-start-2-span-6  { grid-column: var(--start-2-span-6); }
  .l-start-2-span-7  { grid-column: var(--start-2-span-7); }
  .l-start-2-span-8  { grid-column: var(--start-2-span-8); }
  .l-start-2-span-9  { grid-column: var(--start-2-span-9); }
  .l-start-2-span-10 { grid-column: var(--start-2-span-10); }

  .l-start-3-span-1  { grid-column: var(--start-3-span-1); }
  .l-start-3-span-2  { grid-column: var(--start-3-span-2); }
  .l-start-3-span-3  { grid-column: var(--start-3-span-3); }
  .l-start-3-span-4  { grid-column: var(--start-3-span-4); }
  .l-start-3-span-5  { grid-column: var(--start-3-span-5); }
  .l-start-3-span-6  { grid-column: var(--start-3-span-6); }
  .l-start-3-span-7  { grid-column: var(--start-3-span-7); }
  .l-start-3-span-8  { grid-column: var(--start-3-span-8); }
  .l-start-3-span-9  { grid-column: var(--start-3-span-9); }

  .l-start-4-span-1  { grid-column: var(--start-4-span-1); }
  .l-start-4-span-2  { grid-column: var(--start-4-span-2); }
  .l-start-4-span-3  { grid-column: var(--start-4-span-3); }
  .l-start-4-span-4  { grid-column: var(--start-4-span-4); }
  .l-start-4-span-5  { grid-column: var(--start-4-span-5); }
  .l-start-4-span-6  { grid-column: var(--start-4-span-6); }
  .l-start-4-span-7  { grid-column: var(--start-4-span-7); }
  .l-start-4-span-8  { grid-column: var(--start-4-span-8); }

  .l-start-5-span-1  { grid-column: var(--start-5-span-1); }
  .l-start-5-span-2  { grid-column: var(--start-5-span-2); }
  .l-start-5-span-3  { grid-column: var(--start-5-span-3); }
  .l-start-5-span-4  { grid-column: var(--start-5-span-4); }
  .l-start-5-span-5  { grid-column: var(--start-5-span-5); }
  .l-start-5-span-6  { grid-column: var(--start-5-span-6); }
  .l-start-5-span-7  { grid-column: var(--start-5-span-7); }

  .l-start-6-span-1  { grid-column: var(--start-6-span-1); }
  .l-start-6-span-2  { grid-column: var(--start-6-span-2); }
  .l-start-6-span-3  { grid-column: var(--start-6-span-3); }
  .l-start-6-span-4  { grid-column: var(--start-6-span-4); }
  .l-start-6-span-5  { grid-column: var(--start-6-span-5); }
  .l-start-6-span-6  { grid-column: var(--start-6-span-6); }

  .l-start-7-span-1  { grid-column: var(--start-7-span-1); }
  .l-start-7-span-2  { grid-column: var(--start-7-span-2); }
  .l-start-7-span-3  { grid-column: var(--start-7-span-3); }
  .l-start-7-span-4  { grid-column: var(--start-7-span-4); }
  .l-start-7-span-5  { grid-column: var(--start-7-span-5); }
}

@media (max-width: 768px) {
  .m-span-1  { grid-column: var(--span-1); }
  .m-span-2  { grid-column: var(--span-2); }
  .m-span-3  { grid-column: var(--span-3); }
  .m-span-4  { grid-column: var(--span-4); }
  .m-span-5  { grid-column: var(--span-5); }
  .m-span-6  { grid-column: var(--span-6); }
  .m-span-7  { grid-column: var(--span-7); }
  .m-span-8  { grid-column: var(--span-8); }
  .m-span-9  { grid-column: var(--span-9); }
  .m-span-10 { grid-column: var(--span-10); }
  .m-span-11 { grid-column: var(--span-11); }
  .m-span-12 { grid-column: var(--span-12); }

  .m-start-2-span-1  { grid-column: var(--start-2-span-1); }
  .m-start-2-span-2  { grid-column: var(--start-2-span-2); }
  .m-start-2-span-3  { grid-column: var(--start-2-span-3); }
  .m-start-2-span-4  { grid-column: var(--start-2-span-4); }
  .m-start-2-span-5  { grid-column: var(--start-2-span-5); }
  .m-start-2-span-6  { grid-column: var(--start-2-span-6); }
  .m-start-2-span-7  { grid-column: var(--start-2-span-7); }
  .m-start-2-span-8  { grid-column: var(--start-2-span-8); }
  .m-start-2-span-9  { grid-column: var(--start-2-span-9); }
  .m-start-2-span-10 { grid-column: var(--start-2-span-10); }

  .m-start-3-span-1  { grid-column: var(--start-3-span-1); }
  .m-start-3-span-2  { grid-column: var(--start-3-span-2); }
  .m-start-3-span-3  { grid-column: var(--start-3-span-3); }
  .m-start-3-span-4  { grid-column: var(--start-3-span-4); }
  .m-start-3-span-5  { grid-column: var(--start-3-span-5); }
  .m-start-3-span-6  { grid-column: var(--start-3-span-6); }
  .m-start-3-span-7  { grid-column: var(--start-3-span-7); }
  .m-start-3-span-8  { grid-column: var(--start-3-span-8); }
  .m-start-3-span-9  { grid-column: var(--start-3-span-9); }

  .m-start-4-span-1  { grid-column: var(--start-4-span-1); }
  .m-start-4-span-2  { grid-column: var(--start-4-span-2); }
  .m-start-4-span-3  { grid-column: var(--start-4-span-3); }
  .m-start-4-span-4  { grid-column: var(--start-4-span-4); }
  .m-start-4-span-5  { grid-column: var(--start-4-span-5); }
  .m-start-4-span-6  { grid-column: var(--start-4-span-6); }
  .m-start-4-span-7  { grid-column: var(--start-4-span-7); }
  .m-start-4-span-8  { grid-column: var(--start-4-span-8); }

  .m-start-5-span-1  { grid-column: var(--start-5-span-1); }
  .m-start-5-span-2  { grid-column: var(--start-5-span-2); }
  .m-start-5-span-3  { grid-column: var(--start-5-span-3); }
  .m-start-5-span-4  { grid-column: var(--start-5-span-4); }
  .m-start-5-span-5  { grid-column: var(--start-5-span-5); }
  .m-start-5-span-6  { grid-column: var(--start-5-span-6); }
  .m-start-5-span-7  { grid-column: var(--start-5-span-7); }

  .m-start-6-span-1  { grid-column: var(--start-6-span-1); }
  .m-start-6-span-2  { grid-column: var(--start-6-span-2); }
  .m-start-6-span-3  { grid-column: var(--start-6-span-3); }
  .m-start-6-span-4  { grid-column: var(--start-6-span-4); }
  .m-start-6-span-5  { grid-column: var(--start-6-span-5); }
  .m-start-6-span-6  { grid-column: var(--start-6-span-6); }

  .m-start-7-span-1  { grid-column: var(--start-7-span-1); }
  .m-start-7-span-2  { grid-column: var(--start-7-span-2); }
  .m-start-7-span-3  { grid-column: var(--start-7-span-3); }
  .m-start-7-span-4  { grid-column: var(--start-7-span-4); }
  .m-start-7-span-5  { grid-column: var(--start-7-span-5); }
}

@media (max-width: 666px) {
  .s-span-1  { grid-column: var(--span-1); }
  .s-span-2  { grid-column: var(--span-2); }
  .s-span-3  { grid-column: var(--span-3); }
  .s-span-4  { grid-column: var(--span-4); }
  .s-span-5  { grid-column: var(--span-5); }
  .s-span-6  { grid-column: var(--span-6); }
  .s-span-7  { grid-column: var(--span-7); }
  .s-span-8  { grid-column: var(--span-8); }
  .s-span-9  { grid-column: var(--span-9); }
  .s-span-10 { grid-column: var(--span-10); }
  .s-span-11 { grid-column: var(--span-11); }
  .s-span-12 { grid-column: var(--span-12); }

  .s-start-2-span-1  { grid-column: var(--start-2-span-1); }
  .s-start-2-span-2  { grid-column: var(--start-2-span-2); }
  .s-start-2-span-3  { grid-column: var(--start-2-span-3); }
  .s-start-2-span-4  { grid-column: var(--start-2-span-4); }
  .s-start-2-span-5  { grid-column: var(--start-2-span-5); }
  .s-start-2-span-6  { grid-column: var(--start-2-span-6); }
  .s-start-2-span-7  { grid-column: var(--start-2-span-7); }
  .s-start-2-span-8  { grid-column: var(--start-2-span-8); }
  .s-start-2-span-9  { grid-column: var(--start-2-span-9); }
  .s-start-2-span-10 { grid-column: var(--start-2-span-10); }

  .s-start-3-span-1  { grid-column: var(--start-3-span-1); }
  .s-start-3-span-2  { grid-column: var(--start-3-span-2); }
  .s-start-3-span-3  { grid-column: var(--start-3-span-3); }
  .s-start-3-span-4  { grid-column: var(--start-3-span-4); }
  .s-start-3-span-5  { grid-column: var(--start-3-span-5); }
  .s-start-3-span-6  { grid-column: var(--start-3-span-6); }
  .s-start-3-span-7  { grid-column: var(--start-3-span-7); }
  .s-start-3-span-8  { grid-column: var(--start-3-span-8); }
  .s-start-3-span-9  { grid-column: var(--start-3-span-9); }

  .s-start-4-span-1  { grid-column: var(--start-4-span-1); }
  .s-start-4-span-2  { grid-column: var(--start-4-span-2); }
  .s-start-4-span-3  { grid-column: var(--start-4-span-3); }
  .s-start-4-span-4  { grid-column: var(--start-4-span-4); }
  .s-start-4-span-5  { grid-column: var(--start-4-span-5); }
  .s-start-4-span-6  { grid-column: var(--start-4-span-6); }
  .s-start-4-span-7  { grid-column: var(--start-4-span-7); }
  .s-start-4-span-8  { grid-column: var(--start-4-span-8); }

  .s-start-5-span-1  { grid-column: var(--start-5-span-1); }
  .s-start-5-span-2  { grid-column: var(--start-5-span-2); }
  .s-start-5-span-3  { grid-column: var(--start-5-span-3); }
  .s-start-5-span-4  { grid-column: var(--start-5-span-4); }
  .s-start-5-span-5  { grid-column: var(--start-5-span-5); }
  .s-start-5-span-6  { grid-column: var(--start-5-span-6); }
  .s-start-5-span-7  { grid-column: var(--start-5-span-7); }

  .s-start-6-span-1  { grid-column: var(--start-6-span-1); }
  .s-start-6-span-2  { grid-column: var(--start-6-span-2); }
  .s-start-6-span-3  { grid-column: var(--start-6-span-3); }
  .s-start-6-span-4  { grid-column: var(--start-6-span-4); }
  .s-start-6-span-5  { grid-column: var(--start-6-span-5); }
  .s-start-6-span-6  { grid-column: var(--start-6-span-6); }

  .s-start-7-span-1  { grid-column: var(--start-7-span-1); }
  .s-start-7-span-2  { grid-column: var(--start-7-span-2); }
  .s-start-7-span-3  { grid-column: var(--start-7-span-3); }
  .s-start-7-span-4  { grid-column: var(--start-7-span-4); }
  .s-start-7-span-5  { grid-column: var(--start-7-span-5); }
}

@media (max-width: 478px) {
  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-6,
  .span-7,
  .span-8,
  .span-9,
  .span-10,
  .span-11,
  .span-12,
  .start-2-span-1,
  .start-2-span-2,
  .start-2-span-3,
  .start-2-span-4,
  .start-2-span-5,
  .start-2-span-6,
  .start-2-span-7,
  .start-2-span-8,
  .start-2-span-9,
  .start-2-span-10,
  .start-3-span-1,
  .start-3-span-2,
  .start-3-span-3,
  .start-3-span-4,
  .start-3-span-5,
  .start-3-span-6,
  .start-3-span-7,
  .start-3-span-8,
  .start-3-span-9,
  .start-4-span-1,
  .start-4-span-2,
  .start-4-span-3,
  .start-4-span-4,
  .start-4-span-5,
  .start-4-span-6,
  .start-4-span-7,
  .start-4-span-8,
  .start-5-span-1,
  .start-5-span-2,
  .start-5-span-3,
  .start-5-span-4,
  .start-5-span-5,
  .start-5-span-6,
  .start-5-span-7,
  .start-6-span-1,
  .start-6-span-2,
  .start-6-span-3,
  .start-6-span-4,
  .start-6-span-5,
  .start-6-span-6,
  .start-7-span-1,
  .start-7-span-2,
  .start-7-span-3,
  .start-7-span-4,
  .start-7-span-5{
    grid-column: var(--span-12);
  }
}
