:root {
  --border-radius: 0.444rem;
  --border-radius-btn: 0.278rem;

  --white100: #ffffff;
  --grey90: #FBFBFB;
  --grey80: #e5e5e5;
  --grey20: #4b4b4b;
  --grey10: #0e0e0e;

  --project-bestbuy: #003B64;
  --project-braintest: #552E8F;
  --project-pacfrens: #54058D;
  --project-bigbarnworld: #239456;
  --project-littleinkventure: #012F49;

  --primary100: #ffc800;
  --primary120: #c99e02;

  --box-shadow: 0.222rem 0.222rem 0 #554300;
  --box-shadow-img: 0.444rem 0.444rem 0 #ffc800;

  --hover-trans: 0.4s;
  --hover-trans-none: 0;
  --transition: all 0.4s ease-in-out;
}


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: var(--grey90);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* > :last-child {
  margin-bottom: 0;
}

a {
  color: var(--grey20);
  text-decoration: none;
  font-weight: 600;
  transition: var(--transition);

  img {
    margin-bottom:1.25rem;
    transition: var(--transition);
  }
  h2, h3, p {
    padding: 0 2.222rem 0 0.556rem;
  }
  h2, h3 {
    margin-bottom: 0.222rem;
  }
  p {
    margin-bottom: 0;
  }
}

a:hover {
  -o-transition:var(--hover-trans);
  -ms-transition:var(--hover-trans);
  -moz-transition:var(--hover-trans);
  -webkit-transition:var(--hover-trans);
  transition:var(--hover-trans);
  background-color: var(--primary100);
  box-shadow: var(--box-shadow);
  color: var(--grey10);
  border-radius: 2rem;
  padding: 0.222rem 0.778rem;

  img {  
    -o-transition:var(--hover-trans);
    -ms-transition:var(--hover-trans);
    -moz-transition:var(--hover-trans);
    -webkit-transition:var(--hover-trans);
    transition:var(--hover-trans);
    box-shadow: var(--box-shadow-img);
  }

}

img {
  border-radius: var(--border-radius);
  margin: 0;
  padding: 0;
  display: block;  
  width: 100%;
  height: auto;
  object-fit: cover;   /* ensures image fills width & height proportionally */
  object-position: center; /* keep image centered */
  background-size: contain;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-optical-sizing: auto;
  font-weight: 600;
  display: block;
  margin: 0;
}

h1 {
  text-decoration: underline solid var(--primary100);
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.45rem;
  margin-bottom: 2.44rem;
}

h2, h3 {
  margin-bottom: 1.22rem;
}

p {
  display: block;
  margin: 0 0 1.22rem 0;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 0 1rem 0;
  display: grid;
  gap: 0.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  width: inherit;
  margin: inherit;
}

.div-max-width {
  max-width: 1200px;
  margin: inherit;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 4.888rem 1.778rem;
  padding: 6.888rem 1.667rem;
  margin: 0 auto;

  .grid {
    padding:0;
  }
}

.center {
  text-align: center;
}

.right {
  justify-self: right;
}

.add-margin-bottom {
  margin-bottom:1.22rem;
}

.reduce-image-size {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}